.gallery-container {
    height: 350px;
    width: 550px;
}

h2 {
    margin: 0 0 50px 0;
}

.gallery-container__cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.gallery-thumb {
    width: 125px;
}
