main {
    display: flex;
    align-items: center;
    width: 100%;
}

h2 {
    margin: 0;
    filter: drop-shadow(2px 2px 1px rgb(2, 2, 2));
}

.profile-container {
    margin: 0 25px 50px 25px;
    padding: 50px;
}

.profile-container h2 {
    margin-bottom: 50px;
}

.profile-container__cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: #2a2730;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: auto;
    padding: 15px;
    font-size: 12px;
    border-radius: 15px;
    color: white;
    background-color: rgb(2, 2, 2, 0.2);
}

.profile a {
    font-size: 10px;
}

.profile img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.names {
    font-size: 14px;
}
