.hidden {
    display: none;
}

.welcome-container {
    gap: 25px;
    height: 400px;
    width: 400px;
    padding: 25px;
}

.welcome-container__logo {
    width: 200px;
}

.welcome-container a {
    font-size: 10px;
    margin: 0;
}

#welcome-message {
    margin: 0;
    text-align: center;
}

#artwork-title {
    width: 40%;
}

#submit-title {
    width: 20%;
}

.canvas-container {
    height: 500px;
    width: 500px;
}

#canvas {
    background-color: white;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}