.hidden {
    display: none;
}

.welcome-container {
    gap: 25px;
    height: 400px;
    width: 400px;
    padding: 25px;
}

.welcome-container__logo {
    width: 200px;
}

.welcome-container a {
    font-size: 10px;
    margin: 0;
}

#welcome-message {
    margin: 0;
    text-align: center;
}

#artwork-title {
    width: 40%;
}

#submit-title {
    width: 20%;
}
