body {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
}

header {
    display: flex;
    flex-direction: row;
    background-color:lightseagreen;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: #121212;
    color: #fefefe;
}

footer {
    background-color: lightcoral;
    padding: 40px;
}

img#logo {
    width: 200px;
}