@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Press+Start+2P&display=swap');

:root {
    --display-font: 'Press Start 2p', cursive;
    --body-font: 'Fira Code', monospace;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    background: rgb(116, 0, 184);
    background: linear-gradient(
        132deg,
        rgba(116, 0, 184, 1) 0%,
        rgba(78, 168, 222, 1) 66%,
        rgba(128, 255, 216, 1) 100%
    );
    background-attachment: fixed;
}

a {
    color: white;
    font-family: var(--body-font);
    font-size: 12px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px;
    background-color: rgba(42, 39, 48, 0.6);
    font-family: var(--display-font);
    font-size: 1vw;
}

h2 {
    font-family: var(--display-font);
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 100px auto;
}

.module {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    color: white;
    background-color: rgba(42, 39, 48, 0.45);
}

img#logo {
    width: 150px;
}

button {
    font-family: var(--display-font);
    font-size: 10px;
    background-color: #6a60ce;
    height: 45px;
    width: auto;
    padding: 15px;
    color: white;
    border: 0;
    border-radius: 15px;
}

button:active {
    filter: drop-shadow(2px 2px 2px rgb(3, 3, 3));
}
